<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean class="com.xworkz.hotel.Hotel" id="hotel">
		<constructor-arg name="name" value=" Darshini "></constructor-arg>
		<constructor-arg name="location" value=" Dharwad "></constructor-arg>
	</bean>

	<bean class="java.lang.String" id="s1">
		<constructor-arg value="Hope"></constructor-arg>
	</bean>


	<bean class="java.lang.Integer" id="i1">
		<constructor-arg value="500"></constructor-arg>
	</bean>
	<bean class="java.lang.Double" id="i2">
		<constructor-arg value="105.5"></constructor-arg>
	</bean>
	<bean class="java.lang.Float" id="i3">
		<constructor-arg value="4.09"></constructor-arg>
	</bean>
	<bean class="java.lang.Long" id="i4">
		<constructor-arg value="8050811032"></constructor-arg>
	</bean>
	<bean class="java.lang.Boolean" id="i5">
		<constructor-arg value="false"></constructor-arg>
	</bean>
	<bean class="java.lang.Short" id="i6">
		<constructor-arg value="10"></constructor-arg>
	</bean>
	<bean class="com.xworkz.foot.Footwear" id="footwear">
		<constructor-arg name="brand" value="vkc" />
		<constructor-arg name="price" value="600" />
		<constructor-arg name="color" value="Black" />
		<constructor-arg name="material" ref="material" />
	</bean>
	<bean class="com.xworkz.foot.Material" id="material">
		<constructor-arg name="rubber" value="puma" />
		<constructor-arg name="plastic" value="nilon" />
		<constructor-arg name="cloth" value="woolen" />
	</bean>
<bean class="com.xworkz.fruit.Fruit" id="fruit">
		<constructor-arg name="name" value="Orange" />
		<constructor-arg name="color" value="Orange" />
		<constructor-arg name="price" value="50" />
		<constructor-arg name="vitamin" ref="vitamin" />
	</bean>
	<bean class="com.xworkz.fruit.Vitamin" id="vitamin">
		<constructor-arg name="type" value="Vitamin C" />
		<constructor-arg name="waterSoluble" value="true" />
		<constructor-arg name="fatSoluble" value="true" />
	</bean>



</beans>